# Below is a list of FlutterBelgium members who are suggested reviewers
# for contributions to this repository.

/CODEOWNERS                                               @vanlooverenkoen
/examples/**                                              @vanlooverenkoen
/companies/**                                             @vanlooverenkoen
/projects/**                                              @vanlooverenkoen
/projects/covid_safe/**                                   @vanlooverenkoen @ikbendewilliam @HannesVDB @jeroentrappers
/projects/sibos/**                                        @ikbendewilliam